*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #ce3838, #300505);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(150px, auto) repeat(5, 80px);
}

button {
    cursor: pointer;
    font-size: 1.5rem;
    border: none;

    outline: none;
    background-color: black;
}

button:hover {
    background-color: #232936;
}

.btn-opr {
    color: #e6630d;
}

.btn-number {
    color: white;
}

.span-two {
    grid-column: span 2;
}

.display {
    grid-column: 1/-1;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-bottom: 1px #e6630d solid;
}

.previous-display {
    color: white;
    opacity: 0.4;
    font-size: 1.5rem;
}

.current-display {
    color: white;
    font-size: 3.0rem;
}